<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      margin: 2rem;
      background-color: #f4f4f4;
      color: #333;
    }
    h2 {
      color: #004442;
    }
    table, th, td {
      border: 1px solid #ccc;
    }
    th, td {
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #ddd;
    }
  </style>

<body>
  
    
  {% block content %}{% endblock %}

  <footer style="margin-top: 3em; text-align: center;">
    <hr>
    <p>Sistema RRHH - Nutralmix SRL</p>
  </footer>
</body>
</html>
